################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FormStyles/bin/Debug
/FormStyles/obj/Debug
/.vs/FormStyles/v16
